<!DOCTYPE html>
<!--suppress CssNoGenericFontName -->
<html lang="en" th:lang="en"
      xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org">
<link href='https://fonts.googleapis.com/css?family=Muli&display=swap' rel='stylesheet' type='text/css'>
<head>
    <title th:text="#{email.reset.password.subject}"></title>
    <meta charset="utf-8"/>
</head>
<body style="text-align: left; font-family: Arial, Helvetica, sans-serif;">
<div style="">
    <div style="">
        <div style="text-align: left;color: #222;font-size: 13px;">
            <p th:text="#{email.reset.password.subject}"></p>
            <br/>
            <span th:text="#{email.reset.password.content.line11}"></span>
            <span th:text="${otp}"></span>
            <br/>
            <!--            <p th:text="#{email.reset.password.content.line2}"></p>-->
            <!--            <span th:text="#{email.reset.password.content.line3}"></span><span style="font-weight: bold;"-->
            <!--                                                                               th:text="' ' + ${url}"></span>-->
            <br/>
            <p th:text="#{email.reset.password.content.line4}"></p>
            <p th:text="---------------------------------------------------------------------"></p>
        </div>
        <div style="text-align: left;color: #222;font-size: 13px; margin-top: 25px;">
            <p th:text="#{email.reset.password.content.line5}"></p>
            <p th:text="#{email.reset.password.content.line6}"></p>
            <p th:text="#{email.reset.password.content.line7}"></p>
            <p th:text="#{email.reset.password.content.line8}"></p>
            <p th:text="#{email.reset.password.content.line9}"></p>
            <p th:text="#{email.reset.password.content.line10}"></p>
            <p th:text="----------------------------------------------------------------------"></p>
        </div>
    </div>
</div>
</body>
</html>
