spring:
  profiles:
    active: ${SPRING_PROFILES_ACTIVE:default}
  application:
    name: auth-service
server:
  servlet:
    context-path: /auth
springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html

