# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

.env.local
.env
env.yml
auth-service/target
**/target/
auth-redis-data/
/docker-data/






#Visual studio code
.vscode/

# IntelliJ
.idea/

# Environment variable files
.env

large-video.mp4
sample-video.mp4

data/
.cache/

node_modules/
