version: "3.9"

services:
  auth-service:
    build:
      context: ./auth-service
      dockerfile: Dockerfile
    container_name: auth-service
    restart: unless-stopped
    ports:
      - "${AUTH_SERVICE_PORT}:${AUTH_SERVICE_PORT}"
    environment:
      # Database
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/${POSTGRES_DB}
      SPRING_DATASOURCE_USERNAME: ${DB_USERNAME}
      SPRING_DATASOURCE_PASSWORD: ${DB_PASSWORD}

      # Redis
      SPRING_REDIS_HOST: redis
      SPRING_REDIS_PORT: 6379

      # JWT / Admin
      ACCESS_TOKEN_SECRET: ${ACCESS_TOKEN_SECRET}
      REFRESH_TOKEN_SECRET: ${REFRESH_TOKEN_SECRET}
      ADMIN_EMAIL: ${ADMIN_EMAIL}
      ADMIN_PASSWORD: ${ADMIN_PASSWORD}
      ADMIN_FIRST_NAME: ${ADMIN_FIRST_NAME}
      ADMIN_LAST_NAME: ${ADMIN_LAST_NAME}

      # Web URL
      WEB_URL: ${WEB_URL}
    depends_on:
      - postgres
      - redis

  postgres:
    image: postgres:latest
    container_name: auth-postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5532:5432"
    volumes:
      - ./auth-postgres-data:/var/lib/postgresql/data

  redis:
    image: redis:7.2
    container_name: auth-redis
    restart: unless-stopped
    ports:
      - "6399:6379"
    volumes:
      - ./auth-redis-data:/data

  customer-postgres:
    image: postgres:latest
    container_name: customer-postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: ${CUSTOMER_DB_USERNAME}
      POSTGRES_PASSWORD: ${CUSTOMER_DB_PASSWORD}
      POSTGRES_DB: ${CUSTOMER_POSTGRES_DB}
      TZ: Asia/Ho_Chi_Minh
    ports:
      - "5632:5432"
    volumes:
      - ./customer-postgres-data:/var/lib/postgresql/data

  cinemate-zookeeper:
    image: confluentinc/cp-zookeeper:7.5.0
    container_name: cinemate-zookeeper
    hostname: cinemate-zookeeper
    ports:
      - "2182:2182"
    environment:
      ZOOKEEPER_CLIENT_PORT: 2182
      ZOOKEEPER_TICK_TIME: 2000
    volumes:
      - ./cinemate-zookeeper-data:/var/lib/zookeeper/data
  cinemate-broker:
    image: confluentinc/cp-kafka:7.5.0
    container_name: cinemate-broker
    hostname: cinemate-broker
    depends_on:
      - cinemate-zookeeper
    ports:
      - "9093:9093"
    environment:
      KAFKA_BROKER_ID: 2
      KAFKA_ZOOKEEPER_CONNECT: 'cinemate-zookeeper:2182'
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://cinemate-broker:29093,PLAINTEXT_HOST://localhost:9093
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    volumes:
      - ./cinemate-kafka-data:/var/lib/kafka/data

  cinemate-schema-registry:
    image: confluentinc/cp-schema-registry:7.5.0
    container_name: cinemate-schema-registry
    hostname: cinemate-schema-registry
    depends_on:
      - cinemate-zookeeper
      - cinemate-broker
    ports:
      - "8086:8081"
    environment:
      SCHEMA_REGISTRY_HOST_NAME: cinemate-schema-registry
      SCHEMA_REGISTRY_KAFKASTORE_BOOTSTRAP_SERVERS: 'cinemate-broker:29093'
      SCHEMA_REGISTRY_LISTENERS: http://cinemate-schema-registry:8081
  cinemate-kafka-ui:
    image: provectuslabs/kafka-ui:latest
    container_name: cinemate-kafka-ui
    hostname: cinemate-kafka-ui
    depends_on:
      - cinemate-zookeeper
      - cinemate-broker
      - cinemate-schema-registry
    ports:
      - "8087:8080"
    environment:
      KAFKA_CLUSTERS_0_NAME: local
      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: cinemate-broker:29093
      KAFKA_CLUSTERS_0_SCHEMAREGISTRY: http://cinemate-schema-registry:8081
      KAFKA_CLUSTERS_0_ZOOKEEPER: cinemate-zookeeper:2182
      DYNAMIC_CONFIG_ENABLED: 'true'