services:
  # API Gateway
  gateway:
    build:
      context: .
      dockerfile: ./gateway/Dockerfile
    container_name: cinemate-gateway
    restart: unless-stopped
    ports:
      - "8080:8080"
    environment:
      SPRING_PROFILES_ACTIVE: prod
      MOVIE_SERVICE_URL: http://movie-service:8080
      AUTH_SERVICE_URL: http://auth-service:8080
      CUSTOMER_SERVICE_URL: http://customer-service:8080
      FRONTEND_URL: ${WEB_URL}
      ADMIN_URL: ${ADMIN_URL:-https://admin.cinemate.com}
    depends_on:
      - movie-api
      - auth-service
    networks:
      - cinemate-network

  auth-service:
    build:
      context: ./auth-service
      dockerfile: Dockerfile
    container_name: cinemate-auth-service
    restart: unless-stopped
    ports:
      - "${AUTH_SERVICE_PORT}:${AUTH_SERVICE_PORT}"
    environment:
      SPRING_PROFILES_ACTIVE: prod

      # Database
      AUTH_DATASOURCE_URL: jdbc:postgresql://auth-postgres:${AUTH_POSTGRES_PORT}/${AUTH_POSTGRES_DB}
      AUTH_DATASOURCE_USERNAME: ${AUTH_POSTGRES_USER}
      AUTH_DATASOURCE_PASSWORD: ${AUTH_POSTGRES_PASSWORD}
      AUTH_SERVICE_PORT: ${AUTH_SERVICE_PORT}

      # KAFKA
      CINEMATE_BROKER_PORT: ${CINEMATE_BROKER_PORT}

      SMTP_EMAIL: ${SMTP_EMAIL}
      SMTP_APP_PASSWORD: ${SMTP_APP_PASSWORD}

      # Redis
      AUTH_REDIS_HOST: ${REDIS_HOST}
      AUTH_REDIS_PORT: ${REDIS_PORT}

      # JWT / Admin
      ACCESS_TOKEN_SECRET: ${ACCESS_TOKEN_SECRET}
      REFRESH_TOKEN_SECRET: ${REFRESH_TOKEN_SECRET}
      AUTH_ADMIN_EMAIL: ${AUTH_ADMIN_EMAIL}
      AUTH_ADMIN_PASSWORD: ${AUTH_ADMIN_PASSWORD}
      AUTH_ADMIN_FIRST_NAME: ${AUTH_ADMIN_FIRST_NAME}
      AUTH_ADMIN_LAST_NAME: ${AUTH_ADMIN_LAST_NAME}

      # Web URL
      WEB_URL: ${WEB_URL}
    depends_on:
      - auth-postgres
      - cinemate-redis
    networks:
      - cinemate-network

  auth-postgres:
    image: postgres:15
    container_name: cinemate-auth-postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: ${AUTH_POSTGRES_USER}
      POSTGRES_PASSWORD: ${AUTH_POSTGRES_PASSWORD}
      POSTGRES_DB: ${AUTH_POSTGRES_DB}
    ports:
      - "${AUTH_POSTGRES_HOST_PORT}:${AUTH_POSTGRES_PORT}"
    volumes:
      - auth-postgres-data:/var/lib/postgresql/data
    networks:
      - cinemate-network

  cinemate-redis:
    image: redis:7.2
    container_name: cinemate-redis
    restart: unless-stopped
    ports:
      - "${REDIS_HOST_PORT}:${REDIS_PORT}"
    volumes:
      - cinemate-redis-data:/data
    networks:
      - cinemate-network

  customer-postgres:
    image: postgres:15
    container_name: customer-postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: ${CUSTOMER_POSTGRES_USER}
      POSTGRES_PASSWORD: ${CUSTOMER_POSTGRES_PASSWORD}
      POSTGRES_DB: ${CUSTOMER_POSTGRES_DB}
      TZ: Asia/Ho_Chi_Minh
    ports:
      - "${CUSTOMER_POSTGRES_HOST_PORT}:${CUSTOMER_POSTGRES_PORT}"
    volumes:
      - customer-postgres-data:/var/lib/postgresql/data
    networks:
      - cinemate-network

  cinemate-zookeeper:
    image: confluentinc/cp-zookeeper:7.5.0
    container_name: cinemate-zookeeper
    hostname: cinemate-zookeeper
    ports:
      - "${CINEMATE_ZOOKEEPER_HOST_PORT}:${CINEMATE_ZOOKEEPER_PORT}"
    environment:
      ZOOKEEPER_CLIENT_PORT: ${CINEMATE_ZOOKEEPER_PORT}
      ZOOKEEPER_TICK_TIME: 2000
    volumes:
      - cinemate-zookeeper-data:/var/lib/zookeeper/data
    networks:
      - cinemate-network

  cinemate-broker:
    image: confluentinc/cp-kafka:7.5.0
    container_name: cinemate-broker
    #    hostname: cinemate-broker
    depends_on:
      - cinemate-zookeeper
    ports:
      - "${CINEMATE_BROKER_HOST_PORT}:${CINEMATE_BROKER_HOST_PORT}"
    environment:
      KAFKA_BROKER_ID: 2
      KAFKA_ZOOKEEPER_CONNECT: 'cinemate-zookeeper:${CINEMATE_ZOOKEEPER_PORT}'
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://cinemate-broker:${CINEMATE_BROKER_PORT}, PLAINTEXT_HOST://localhost:${CINEMATE_BROKER_HOST_PORT}
      KAFKA_LISTENERS: PLAINTEXT_HOST://0.0.0.0:${CINEMATE_BROKER_HOST_PORT},PLAINTEXT://0.0.0.0:${CINEMATE_BROKER_PORT}
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT_HOST:PLAINTEXT,PLAINTEXT:PLAINTEXT

      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    volumes:
      - cinemate-kafka-data:/var/lib/kafka/data
    networks:
      - cinemate-network

  cinemate-kafka-ui:
    image: provectuslabs/kafka-ui:latest
    container_name: cinemate-kafka-ui
    hostname: cinemate-kafka-ui
    depends_on:
      - cinemate-zookeeper
      - cinemate-broker
    ports:
      - "${CINEMATE_KAFKA_UI_HOST_PORT}:${CINEMATE_KAFKA_UI_PORT}"
    environment:
      KAFKA_CLUSTERS_0_NAME: cinemate
      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: cinemate-broker:${CINEMATE_BROKER_PORT}
      KAFKA_CLUSTERS_0_ZOOKEEPER: cinemate-zookeeper:${CINEMATE_ZOOKEEPER_PORT}
      DYNAMIC_CONFIG_ENABLED: 'true'
    networks:
      - cinemate-network

  minio:
    image: minio/minio:latest
    container_name: cinemate-minio
    environment:
      MINIO_ACCESS_KEY: ${MINIO_ACCESS_KEY}
      MINIO_SECRET_KEY: ${MINIO_SECRET_KEY}
    command: server /data --console-address ":9001"
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - minio-data:/data
    networks:
      - cinemate-network

  movie-api:
    build:
      context: .
      dockerfile: ./movie-service/Dockerfile
    container_name: cinemate-movie-api
    env_file:
      - .env
    environment:
      - SPRING_PROFILES_ACTIVE=prod
    depends_on:
      - movie-db
      - minio
    ports:
      - "{MOVIE_SERVICE_PORT:-8081}:8080"
    networks:
      - cinemate-network

  movie-db:
    image: postgres:15
    container_name: cinemate-movie-postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: movie_db
    ports:
      - "${POSTGRES_PORT:-5432}:5432"
    volumes:
      - movie-db-data:/var/lib/postgresql/data
    networks:
      - cinemate-network
  
  customer-service:
    build:
      context: ./customer-service
      dockerfile: Dockerfile
    container_name: customer-service
    restart: unless-stopped
    ports:
      - "${CUSTOMER_SERVICE_HOST_PORT}:${CUSTOMER_SERVICE_PORT}"
    environment:
      SPRING_PROFILES_ACTIVE: prod
    env_file:
      - .env
    depends_on:
      - customer-postgres
    networks:
      - cinemate-network

volumes:
  minio-data:
  movie-db-data:
  auth-postgres-data:
  customer-postgres-data:
  cinemate-redis-data:
  cinemate-zookeeper-data:
  cinemate-kafka-data:


networks:
  cinemate-network:
    driver: bridge
