version: "3.9"

services:
  postgres:
    image: postgres:latest
    container_name: auth-postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5532:5432"
    volumes:
      - ./auth-postgres-data:/var/lib/postgresql/data
  redis:
    image: redis:7.2
    container_name: auth-redis
    restart: unless-stopped
    ports:
      - "6399:6379"
    volumes:
      - ./auth-redis-data:/data