spring:
  config:
    activate:
      on-profile: dev
  data:
    redis:
      host: ${REDIS_HOST:localhost}
      port: ${REDIS_PORT:6379}
      password: ${REDIS_PASSWORD:}

management:
  endpoint:
    health:
      show-details: always

streaming:
  seeder:
    enabled: ${SEEDER_ENABLED:false}
