spring:
  application:
    name: streaming-seeder
  profiles:
    active: ${SPRING_PROFILES_ACTIVE:dev}
  data:
    redis:
      host: ${REDIS_HOST:cinemate-redis}
      port: ${REDIS_PORT:6379}
      password: ${REDIS_PASSWORD:}
      timeout: PT2S

server:
  port: ${SERVICE_PORT:8080}

management:
  endpoints:
    web:
      exposure:
        include: health
  endpoint:
    health:
      show-details: when-authorized

streaming:
  seeder:
    enabled: ${SEEDER_ENABLED:true}
    cache-path: ${SEEDER_CACHE_PATH:./cache}
    redis-ttl-segment-keys: PT90S
    cache-maintenance-interval: PT30S
    seeder-cache-window: PT4M
    origin:
      enabled: ${SEEDER_ORIGIN_ENABLED:true}
      bucket: ${SEEDER_ORIGIN_BUCKET:}
      object-prefix: ${SEEDER_ORIGIN_PREFIX:hls}
      segment-extensions:
        - m4s
        - mp4
        - m3u8

logging:
  level:
    root: INFO
    '[com.pbl6.cinemate.streaming.seeder]': DEBUG

minio:
  endpoint: ${MINIO_ENDPOINT:http://minio:9000}
  access-key: ${MINIO_ACCESS_KEY:minioadmin}
  secret-key: ${MINIO_SECRET_KEY:minioadmin}
  bucket: ${MINIO_BUCKET:movies}

app:
  auth:
    access-token-secret: ${ACCESS_TOKEN_SECRET}
    access-token-expiration-msec: 7200000
    refresh-token-secret: ${REFRESH_TOKEN_SECRET}
    refresh-token-expiration-msec: 2592000000