spring:
  profiles:
    active: dev
  application:
    name: customer-service

server:
  servlet:
    context-path: /customers

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html