spring:
  application:
    name: customer-service
  datasource:
    url: ${CUSTOMER_DB_URL}
    username: ${CUSTOMER_DB_USERNAME}
    password: ${CUSTOMER_DB_PASSWORD}
    jpa:
      hibernate:
        ddl-auto: none
    flyway:
      enabled: true
      locations: classpath:db/migration

server:
  port: 8685
  servlet:
    context-path: /customers

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html