server:
  port: 8080

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      routes:
        # Movie Service Routes
        - id: movie-service
          uri: http://localhost:8081
          predicates:
            - Path=/api/movies/**
          filters:
            - StripPrefix=2
            
        # Movie File Upload Routes
        - id: movie-upload
          uri: http://localhost:8081
          predicates:
            - Path=/api/upload/**
          filters:
            - StripPrefix=1

        # Auth Service Routes  
        - id: auth-service
          uri: http://localhost:8082
          predicates:
            - Path=/api/auth/**
          filters:
            - StripPrefix=1

        # Customer Service Routes
        - id: customer-service
          uri: http://localhost:8083
          predicates:
            - Path=/api/customers/**
          filters:
            - StripPrefix=1

      # Global CORS configuration
      globalcors:
        cors-configurations:
          '[/**]':
            allowedOrigins: 
              - "http://localhost:3000"
              - "http://localhost:4200"
              - "http://localhost:5173"
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
              - PATCH
              - OPTIONS
            allowedHeaders: "*"
            allowCredentials: true
            maxAge: 3600

# Management endpoints for health checks
management:
  endpoints:
    web:
      exposure:
        include: health,info,gateway
  endpoint:
    health:
      show-details: always

# Logging configuration
logging:
  level:
    '[org.springframework.cloud.gateway]': DEBUG
    '[reactor.netty]': INFO
    '[root]': INFO