spring:
  datasource:
    url: ${MOVIE_DATASOURCE_URL:jdbc:postgresql://movie-postgres:5432/movie_db}
    username: ${MOVIE_DATASOURCE_USERNAME}
    password: ${MOVIE_DATASOURCE_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: none
    open-in-view: false

  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration

logging:
  level:
    root: INFO
    "[org.hibernate.SQL]": WARN
    "[org.hibernate.type.descriptor.sql.BasicBinder]": WARN

server:
  port: ${SERVICE_PORT:8080}

management:
  endpoints:
    web:
      exposure:
        include: health
  endpoint:
    health:
      show-details: when-authorized

minio:
  endpoint: ${MINIO_ENDPOINT:http://minio:9000}
  access-key: ${MINIO_ACCESS_KEY}
  secret-key: ${MINIO_SECRET_KEY}
  movie-bucket: ${MINIO_BUCKET_NAME:movies}
  image-bucket: ${MINIO_IMAGE_BUCKET:images}
  video-bucket: ${MINIO_VIDEO_BUCKET:videos}
