spring:
  datasource:
    url: jdbc:postgresql://localhost:${DEV_POSTGRES_PORT:5432}/movie_db
    username: ${POSTGRES_USER:postgres}
    password: ${POSTGRES_PASSWORD:postgres}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate 
    properties:
      hibernate:
        '[format_sql]': true
        '[show_sql]': true
    open-in-view: false

  flyway:
    enabled: true
    locations: classpath:db/migration

logging:
  level:
    root: INFO
    # '[org.hibernate.SQL]': DEBUG
    # '[org.hibernate.type.descriptor.sql.BasicBinder]': TRACE

server:
  port: ${SERVER_PORT:8080}

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,env
  endpoint:
    health:
      show-details: always

minio:
  endpoint: ${MINIO_URL:http://localhost:9000}
  access-key: ${MINIO_ACCESS_KEY:minioadmin}
  secret-key: ${MINIO_SECRET_KEY:minioadmin}
  movie-bucket: ${MINIO_MOVIE_BUCKET:${MINIO_BUCKET_NAME:movies}}
  image-bucket: ${MINIO_IMAGE_BUCKET:${MINIO_BUCKET_NAME:images}}
  public-host: ${MINIO_PUBLIC_HOST:http://localhost:9000}
